<footer class="site-footer">
    <div class="wrapper">
        <img src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" alt="" title="" type="image/png"><br>
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">知识共享许可协议</a>：本站作品由<a
            href="http://lsqboy.com" target="_blank">lsqboy</a>创作，采用<a
            href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">知识共享 署名-非商业性使用-相同方式共享 4.0 国际
        许可协议</a>进行许可。
        <br>如果你觉得这篇文章对你有帮助，请点击下面的分享链接，你还可以选择扫描二维码进行打赏!</br>
        <img src="/public/pay2me.png" alt=""/>

        <div class="sharing">
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_32x32">
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_googleplus"></a>
                <a class="jiathis_button_renren"></a>
                <a class="jiathis_button_linkedin"></a>
                <a class="jiathis_button_douban"></a>
                <a href="http://www.jiathis.com/share?uid=1723296" class="jiathis jiathis_txt jtico jtico_jiathis"
                   target="_blank"></a>
                <a class="jiathis_counter_style"></a>
            </div>
            <script type="text/javascript">
                var jiathis_config = {data_track_clickback: 'true'};
            </script>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1342501457879302"
                    charset="utf-8"></script>
            <!-- JiaThis Button END -->
        </div>
    </div>
</footer>
